@use 'sass:math';

.root {
  $border-radius: 8px;
  $border-width: 2px;
  $font-size: 20px;
  $font-weight: 600;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  box-sizing: border-box;
  border: $border-width solid #8a909a;
  border-radius: $border-radius;
  width: 100%;

  background-color: #f6f8fc;

  &.--fail {
    border-color: #a32929;
    background-color: #faebeb;

    .sentence:focus {
      outline-color: #a32929;
    }
  }

  .sentence {
    $line-height-number: 1.6;
    $padding-y-adjust: math.div(-1 * $font-size * ($line-height-number - 1), 2);
    $padding-x: 16px;
    $padding-y: $padding-x + $padding-y-adjust;

    display: block;

    border: none;
    border-radius: $border-radius - $border-width;
    padding: $padding-y $padding-x;
    height: 3 * ($font-size * $line-height-number);

    background: none;

    line-height: $line-height-number;
    color: #6b727f;

    resize: none;

    font: {
      size: 20px;
      weight: 600;
    };

    &::placeholder {
      color: #8a909a;
      opacity: unset;
    }

    &:focus {
      color: #000000;
      outline: $border-width solid #0da289;

      &::placeholder {
        color: #6b727f;
      }
    }
  }
}
