@function grid-column-span-width($column-count) {
  $column-only-width: $column-count * $grid-column-width;
  $gap-only-width: ($column-count - 1) * $grid-column-gap;
  @return $column-only-width + $gap-only-width;
}

$font-family-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

$grid-column-gap: 24px;
$grid-column-width: 80px;
